<%= turbo_frame_tag dom_id(project) do %>
<div class="card-custom card-custom--shadow mt-3">
  <div class="card-header d-flex justify-content-between px-3 py-0">
    <h6 class="mt-3">Draft</h6>
    <%= button_to "vote (#{project.vote})", project_votes_path(project), class: "btn btn-sm btn-success", method: :post %>
  </div>

  <div class="card-body">
  <div class="d-flex justify-content-between"> 
    <h5 class="card-title"><%= link_to "#{project.title}", project_path(project), class: "link", data: { turbo: false, turbo_action: "advance"}  %></h5>
  </div>
    <p class="card-text">
      <%= project.content.truncate(10)%>
    </p>
    <div class="d-flex justify-content-between">
      Start from <%= project.start.to_fs(:rfc822) %> to
      <%= project.end.to_fs(:rfc822) %>
    </div>
    <div class="d-flex justify-content-between">
      <small>
        <%= button_to "delete", project, method: :delete, form: {data: {turbo_confirm: "Are you sure?"}}, class: "btn btn-sm btn-danger" %>
      </small>
      <small>
        <%= link_to "edit", edit_project_path(project) %>
      </small>
    </div>
  </div>
</div>
<% end %>