<%= turbo_stream_from "projects" %>
<div class="d-flex justify-content-end mb-2">
  <%= link_to "new project",
            new_project_path,
            class: "btn btn-sm btn-primary text-white mt-2",
            data: { turbo_frame: dom_id(Project.new) } %>
</div>
<nav class="navbar bg-light">
  <div class="container-fluid">
    <%= form_with url: "", method: :get, class:"d-flex col-12", data: { turbo_frame: "projects", turbo_action: "advance"}  do |f| %>
      <%= f.search_field :search, value: params[:search], class: "form-control col-12" , placeholder: "Search project"%>
    <% end %>
  </div>
</nav>
  <%= turbo_frame_tag Project.new %>
  <%= turbo_frame_tag "projects" do %>    
    <%= render "empty_state" %>
    <%= render @projects %>
  <% end %>